body {
  font-family: Arial;
  background: #fff6f5;
  text-align: center;
  color: #5a3e36;
}

/* HEADER */
header {
  background: linear-gradient(135deg,#ffd6d6,#fff6f5);
  padding: 20px;
}

/* GRID */
.flavor-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 80%;
  margin: auto;
}

.flavor {
  background: white;
  padding: 10px;
  border-radius: 12px;
}

.flavor img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid pink;
}

/* BUTTON */
button {
  background: #f7a8a8;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

/* POPUP */
#order-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255,230,230,0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  width: 260px;
}

#popup-flavors button.selected {
  background: #f7a8a8;
  color: white;
  transform: scale(1.05);
}

/* INPUTS */
input, select {
  width: 90%;
  margin: 5px;
  padding: 5px;
}

/* HEART ANIMATION */
.hearts span {
  position: fixed;
  bottom: 0;
  animation: float 6s infinite;
  color: pink;
}

@keyframes float {
  from {transform: translateY(0);}
  to {transform: translateY(-600px);}
}
